<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>follows</th>
	  <th><%= link_to "#{user.followers.count}", followings_user_path(user) %></th>
  </tr>
  <tr>
	  <th>followers</th>
	  <th><%= link_to "#{user.followings.count}", followers_user_path(user) %></th>
  </tr>
  <tr>
    <th>
      <% unless user == current_user %>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー外す", relationship_path, class: 'btn btn-primary', method: :delete %>
        <% else %>
          <%= form_for(user.followers.build) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <%= f.submit "フォローする", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    </th>
  </tr>
</table>

